body {
    background-color: #FDF4DC;
    font-family: "Lato", sans-serif !important;
    font-weight: lighter;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    font-size: 18px;
}

.container {
    width: 80%;
    padding: 10px 0;
}

.content {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
}

.sidenav {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a.active {
    color: black;
    font-weight: 700;
}

.sidenav a {
    color: black;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: flexbox;
    position: relative;
}

.sidenav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: rgb(112, 103, 103);
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
}

.sidenav a:hover:after {
    width: 100%;
    left: 0;
}

.cv {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    text-align: left;
    font-size: 18px;
}

.cvhead {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-top: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cvbody {
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
}


.content img {
    width: 200px;
    height: auto;
    flex-grow: 0;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 15px #bbb;
}

.content .text-wrapper {
    flex-grow: 1;
    margin-left: 1rem;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
  }

h1,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

p {
    margin-top: 1rem;
}

p.media-links a {
    color: rgba(0, 0, 0, .4);
    margin: 0 1rem;
}

p.media-links a:hover {
    color: black;
}

@media only screen and (max-width: 756px) {
    .content {
        flex-direction: column;
    }

    .content .text-wrapper {
        margin-left: 0;
        margin-top: 1rem;
    }
}